<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入easyui的css样式 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui的图标css样式 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">
    <!-- 引入jqury的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
</head>


<body>


<table id="commTable"></table>
</body>
<script type="text/javascript">
    $(function(){
        queryTable();//初始化角色列表

    })

    //初始化权限树的数据
    function queryTable(){
        $("#commTable").datagrid({
            url:"../user/queryXiaoQu?max=2",
            columns:[
                [{field:"checkbox",checkbox:true},

                    {field:"commName",title:"小区名称"},
                    {field:"townCommName",title:"小区地址"},
                    {field:"huanjing",title:"空气质量"},
                    {field:"fujin",title:"附近学校"},
                    {field:"sheshi",title:"锻炼场所"},
                    {field:"stastu",title:"审核状态",formatter:function(value,row,index){

                            if(value==2){
                                return "待审核";
                            }
                        }},
                    {field:"tool",title:"操作",formatter:function(value,row,index){
                            var str = "<a href='javascript:updateById("+row.commId+")'>审核</a>";
                            return str;
                        }}
                ]
            ],
            pagination:true,
            pageList:[2,4,6,8],
            pageSize:4,
            pageNumber:1,
            fit:true,
            toolbar:"#tools"
        })
    }
    updateById =function(id){
alert(111)
                $.ajax({
                    url:"../user/updateById",
                    data:{id:id},
                    success:function(){
                        $("#commTable").datagrid("reload")
                    }
                })
            }




</script>
</html>